* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', 'Segoe UI Light', sans-serif;
    background: #eee;
}
a {
    text-decoration: none;
}
header {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 900px;
    font-family: 'Raleway', 'Segoe UI Light', sans-serif;
}
.title {
    padding: 30px 30px;
    font-size: 54px;
    color: #111;
    text-shadow: 2px 2px 5px #bbb;
    letter-spacing: -4px;
}
.subtitle {
    padding: 10px 0px;
    font-size: 30px;
    color: #666;
    text-shadow: 1px 1px 10px #ddd;
}
.content {
    margin: 0 auto;
    max-width: 900px;
    min-width: 430px;
    min-height: 300px;
    padding-left: 5%;
}
.panel {
    background: #fff;
    width: 45%;
    float: left;
    margin-right: 1%;
    margin-left: 0px;
    margin-top: 10px;
    padding: 30px 1%;
    border-radius: 4px;
    min-height: 90px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.panel .left {
    width: 20%;
    float: left;
}
.panel .left .icon {
    background-size: cover;
    margin: 0 auto;
}
.movie-panel .icon {
    height: 56px;
    width: 60px;
    background-image: url('list/images/movie.png');
}
.mapster-panel .icon {
    height: 70px;
    width: 70px;
    background-image: url('images/mapster.png');
}
.resume-panel .icon {
    height: 74px;
    width: 74px;
    margin-top: -5px!important;
    background-image: url('images/resume-icon.png');
}
.panel .right {
    width: 70%;
    float: left;
    margin-left: 30px;
    margin-top: -5px;
}
.panel h3 {
    font-weight: 300;
    font-size: 28px;
    color: #333;
}
.panel p {
    color: #555;
    margin-top: 10px;
}
.clear {
    clear: both;
}
.footer {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
}
#social-media {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}
#social-media img {
    height: 100%;
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
}
@media screen and (max-width: 900px) {
    header {
        width: 100%;
    }
    .panel {
        width: 90%;
    }
    .content {
        margin: 0 auto;
        padding: 0;
        width: 80%;
    }
    .panel {
        float: none;
        margin-top: 10px auto;
        border-radius: 4px;
        min-height: 90px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
}