* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Open Sans', Segoe UI, sans-serif;
    color: #000;
}

header {
    margin: 30px;
    text-align: center;
}

header h1 {
    font-size: 48pt;
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}
header h2 {
    font-size: 28pt;
    margin-top: 10px;
    font-weight: 100;
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
}
.courses {
	margin: 10px 50px;
}